<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="vue-dersleri.js"></script>
</head>

<body>

    <div id="app">
        <h1 v-if="isLoggedIn">{{message}} {{username}}</h1>
        <h1 v-if="isLoggedIn">Anon user</h1>

        <h1 v-show="isLoggedIn">{{message}} {{username}}</h1>
        <h1 v-show="isLoggedIn">Anon user</h1>

    </div>

</body>

</html>